US education spending questions

In [14]:
! pip install seaborn

Requirement already satisfied: seaborn in /Users/aidenjohnson/Library/Python/2.7/lib/python/site-packages (0.9.1)
Requirement already satisfied: pandas>=0.17.1 in /Users/aidenjohnson/Library/Python/2.7/lib/python/site-packages (from seaborn) (0.24.2)
Collecting numpy>=1.10.4
  Using cached https://files.pythonhosted.org/packages/09/96/84cf406fe7d589f3dba9fc0f737e65985a3526c6d8c783f02d4b5a10825d/numpy-1.16.6-cp27-cp27m-macosx_10_9_x86_64.whl
Collecting matplotlib>=1.5.3
  Using cached https://files.pythonhosted.org/packages/30/0e/30f89d643bca7d692b84801bb0c6040cb86021b69cb82482ebfb87681e64/matplotlib-2.2.5-cp27-cp27m-macosx_10_9_x86_64.whl
Collecting scipy>=0.17.1
  Using cached https://files.pythonhosted.org/packages/dc/7a/3de1700fb471a6f56353446b4b962a7e4a5baaf24e5e4dec2d91d5f500da/scipy-1.2.3-cp27-cp27m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl
Collecting python-dateutil>=2.5.0
  Using cached https://files.pythonhosted.org/packages/d4/70/d60450c3dd48ef87586924207ae8907090de0b306af2bce5d134d78615cb/python_dateutil-2.8.1-py2.py3-none-any.whl
Requirement already satisfied: pytz>=2011k in /System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python (from pandas>=0.17.1->seaborn) (2013.7)
Collecting kiwisolver>=1.0.1
  Using cached https://files.pythonhosted.org/packages/0d/15/ec5f70ac79f378ed0ef5ed8b71e8a04e382115426b2cda9a3ab5ffcf467f/kiwisolver-1.1.0-cp27-cp27m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl
Collecting subprocess32
  Using cached https://files.pythonhosted.org/packages/35/f3/7cdeeef9cb05c42fadcc8aa040dd3b80d94e0f6a8dedc4bacebf796c2385/subprocess32-3.5.4-cp27-cp27m-macosx_10_6_intel.whl
Collecting cycler>=0.10
  Using cached https://files.pythonhosted.org/packages/f7/d2/e07d3ebb2bd7af696440ce7e754c59dd546ffe1bbe732c8ab68b9c834e61/cycler-0.10.0-py2.py3-none-any.whl
Requirement already satisfied: six>=1.10 in /System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python (from matplotlib>=1.5.3->seaborn) (1.12.0)
Collecting backports.functools-lru-cache
  Using cached https://files.pythonhosted.org/packages/da/d1/080d2bb13773803648281a49e3918f65b31b7beebf009887a529357fd44a/backports.functools_lru_cache-1.6.1-py2.py3-none-any.whl
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python (from matplotlib>=1.5.3->seaborn) (2.0.1)
Requirement already satisfied: setuptools in /System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python (from kiwisolver>=1.0.1->matplotlib>=1.5.3->seaborn) (41.0.1)
Installing collected packages: numpy, kiwisolver, subprocess32, cycler, backports.functools-lru-cache, python-dateutil, matplotlib, scipy
  Found existing installation: numpy 1.8.0rc1
ERROR: Cannot uninstall 'numpy'. It is a distutils installed project and thus we cannot accurately determine which files belong to it which would lead to only a partial uninstall.
WARNING: You are using pip version 19.3.1; however, version 20.1.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy
%matplotlib inline
import seaborn as sns
import os

ModuleNotFoundError: No module named 'seaborn'

In [5]:
os.getcwd()

'/Users/aidenjohnson/Library/Mobile Documents/com~apple~CloudDocs/Thinkful/Question_building_figures_tables_notebooks'

In [7]:
os.listdir()

['Numbers_tables.numbers',
 'NN image.png',
 'EDA_question_Figures',
 'life_exp_coef_p-values.csv',
 'Model_Evaluation.ipynb',
 'regression_challenge_Figures',
 '.DS_Store',
 'weather_full-reduced_model_metrics.png',
 'houesprice model coef table.png',
 'Errors_plots weather data.png',
 'usedu_spending.csv',
 'figures_resized',
 'Model_prep_Figures',
 'OLS_table.png',
 'MachineLearning-4_thumb.jpg',
 'ML_Figures',
 'making tables in numbers.numbers',
 'model_prep_feature_eng1',
 'how NN leverage large datasets.png',
 'houseprice_resid_plot1.png',
 'weather_full_reduced_model_metrics.png',
 'houseprice_resid_plot2.png',
 'Test_new.ipynb',
 'Notebook_start.ipynb',
 'student_exams_scores.csv',
 'LinearClassifiers.ipynb',
 'model_prep_pca_feature_engineer2',
 'le.csv',
 'fundamentals_Figures',
 'Life_expectancy_nb.ipynb']

In [9]:
df = pd.read_csv('usedu_spending.csv')
df.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,471564.0,196386.0,676174.0,208.327876,252.187522,207.963517,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,79117.0,30847.0,112335.0,NaN,NaN,NaN,258.859712
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,437127.0,175210.0,614881.0,215.253932,265.366278,206.212716,262.169895
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,281338.0,123113.0,405259.0,210.206028,256.312090,208.634458,264.619665
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,3286034.0,1372011.0,4717112.0,208.398961,260.892247,196.764414,NaN

In [10]:
sns.heatmap(df.isnull(), cbar=False)

NameError: name 'sns' is not defined